{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source", "transform-regenerator"]
    },
    "production": {
      "plugins": ["transform-react-jsx-source", "transform-regenerator"]
    }
  }
}
